{% extends "base.html" %}

{% block main %}
<!-- Заголовок под шапкой -->
<div class="main__title">
  {% if content.main_desc %}
    <p class="title">{{ content.main_desc }}</p>
  {% endif %}
</div>

<!-- Раздел Товаров -->
<div class="main__content-container">
  <div class="content-container-title-products">
    {% if content.products_title %}
      <h2 class="products-title">{{ content.products_title }}</h2>
      <a href="/products" class="to-page-more">Смотреть все</a>
    {% endif %}
  </div>

  <!-- Список Товаров -->
  <div class="content-container-items">
    {% for product in products[:3] %}
      {% if product.is_active is true %}
        <div class="content-item">
          <div class="content-item-image-label">
            {% if product.images %}
              {% if product.label is true %}
                <div class="label-true">В наличии в Новосибирске</div>
              {% elif product.label is false %}
                <div class="label-false">Под заказ</div>
              {% endif %}
              <img src="{{ url_for('static', path='uploads/' + product.images[0])}}" alt="Фото товара" class="image">
            {% else %}
              <img src="{{ url_for('static', path='img/coming_soon.webp')}}" alt="Фото товара" class="image">
            {% endif %}
          </div>
          <div class="content-item-title">
            {% if product.name %}
              <h3>{{ product.name }}</h3>
            {% endif %}
          </div>
          <div class="content-item-desc">
            {% if product.short_description %}
              <p class="description">{{ product.short_description }}</p>
            {% endif %}
          </div>
          <div class="content-item-price-btn">
            {% if product.price %}
              <p class="price">{{ product.price }}₽</p>
              <script src="{{ url_for('static', path='js/convert_price.js') }}"></script>
            {% endif %}
            <a href="/products/{{ product.id }}" class="btn-more">
              <img src="{{ url_for('static', path='img/btn.png') }}" alt="Подробнее">
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Раздел "О компании" -->
<div class="main__about-us-container">
  {% if content.about_us_image %}
    <img src="{{ url_for('static', path='uploads/' + content.about_us_image)}}" alt="О компании" class="about-us-img">
  {% endif %}
  <div class="main__about-us-text">
    {% if content.about_us_title %}
      <p class="title">{{ content.about_us_title }}</p>
    {% endif %}
    {% if content.about_us_desc %}
      <p class="description">{{ content.about_us_desc }}</p>
    {% endif %}
  </div>
</div>

<!-- Раздел Новостей -->
<div class="main__news-container">
  <div class="news-container-title">
    {% if content.news_title %}
      <h2 class="news-title">{{ content.news_title }}</h2>
      <a href="/news" class="to-page-more">Смотреть все</a>
    {% endif %}
  </div>
  <div class="news-container-items">
    {% for news in all_news[:3] %}
      {% if news.is_active is true %}
        <div class="news-item">
          {% if news.images %}
            <img src="{{ url_for('static', path='uploads/' + news.images[0])}}" alt="Фото продукта" class="image">
          {% else %}
            <img src="{{ url_for('static', path='img/coming_soon.webp')}}" alt="Фото продукта" class="image">
          {% endif %}
          <div class="news-item-title">
            {% if news.title %}
              <h3>{{ news.title }}</h3>
            {% endif %}
          </div>
          <div class="news-item-desc">
            {% if news.short_description %}
              <p class="description">{{ news.short_description }}</p>
            {% endif %}
          </div>
          <div class="news-item-date-btn">
            {% if news.date_of_the_news %}
              <p class="date">{{ news.date_of_the_news|ru_date }}</p>
            {% endif %}
            <a href="/news/{{ news.id }}" class="btn-more">
              <img src="{{ url_for('static', path='img/btn.png') }}" alt="Подробнее">
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock main %}
