{% extends "base.html" %}

{% block detail %}
<!-- Заголовок Новости -->
<div class="detail">
  {% if news.title %}
    <h1 class="detail__title">{{ news.title }}</h1>
  {% endif %}

  <!-- Изобюражение Новости -->
  <div class="news-content">
    <div class="news-content__image">
      <div class="news-content__date-image">
        <div class="main-image">
          {% if news.images %}
            <img id="mainImage" src="{{ url_for('static', path='uploads/' + news.images[0]) }}" alt="Фото новости" class="image">
          {% else %}
            <img id="mainImage" src="{{ url_for('static', path='img/coming_soon.webp')}}" alt="Фото новости" class="image">
          {% endif %}
        </div>

        <!-- Миниатюры -->
        {% if news.images|length > 1 %}
        <div class="thumbnails-container">
          <div class="thumbnails">
            {% for image in news.images %}
              <img class="thumbnail" src="{{ url_for('static', path='uploads/' + image) }}" alt="Thumbnail {{ loop.index }}"
              onclick="changeImage('{{ url_for('static', path='uploads/' + image) }}')">
            {% endfor %}
            <script src="{{ url_for('static', path='js/change_image.js') }}"></script>
          </div>
        </div>
        {% endif %}

        <!-- Дата публикации Новости -->
        <div class="news-content__date">
          {% if news.date_of_the_news %}
            <h3 class="date">Дата публикации: {{ news.date_of_the_news|ru_date }}</h3>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Описание Новости -->
    <div class="news-content__detail">
      {% if news.description %}
        <p class="news-content__text">{{ news.description }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock detail %}
