{% extends "base.html" %}

{% block main %}
<!-- Заголовок под шапкой -->
<div class="main__title">
  {% if content.main_desc %}
    <p class="title">{{ content.main_desc }}</p>
  {% endif %}
</div>

<div class="main__news-container">
  <div class="news-container-title">
      <!-- Заголовок раздела -->
    {% if content.news_title %}
      <h2 class="news-title">{{ content.news_title }}</h2>
    {% endif %}
  </div>

  <!-- Список Новостей -->
  <div class="news-container-items">
    {% for news in all_news %}
      {% if news.is_active is true %}
        <!-- Изображение Новости -->
        <div class="news-item">
          {% if news.images %}
            <img src="{{ url_for('static', path='uploads/' + news.images[0])}}" alt="Фото новости" class="image">
          {% else %}
            <img src="{{ url_for('static', path='img/coming_soon.webp')}}" alt="Фото новости" class="image">
          {% endif %}

          <!-- Заголовок Новости -->
          <div class="news-item-title">
            {% if news.title %}
              <h3>{{ news.title }}</h3>
            {% endif %}
          </div>

          <!-- Описание Новости -->
          <div class="news-item-desc">
            {% if news.short_description %}
              <p class="description">{{ news.short_description }}</p>
            {% endif %}
          </div>

          <!-- Дата публикации Новости -->
          <div class="news-item-date-btn">
            {% if news.date_of_the_news %}
              <p class="date">{{ news.date_of_the_news|ru_date }}</p>
            {% endif %}
            <a href="/news/{{ news.id }}" class="btn-more">
              <img src="{{ url_for('static', path='img/btn.png') }}" alt="Подробнее" class="btn-more-img">
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock main %}
