{% extends "base.html" %}

{% block detail %}
<!-- Название продукта -->
<div class="detail">
  {% if product.name %}
    <h1 class="detail__title">{{ product.name }}</h1>
  {% endif %}

  <!-- Изобюражение продукта -->
  <div class="product-content">
    <div class="product-content__chars-img">
      <div class="charactiristics-image">
        <!-- Главная картинка -->
        <div class="main-image">
          {% if product.images %}
            <img id="mainImage" src="{{ url_for('static', path='uploads/' + product.images[0]) }}" alt="Фото продукта" class="image">
          {% else %}
            <img id="mainImage" src="{{ url_for('static', path='img/coming_soon.webp') }}" alt="Фото продукта" class="image">
          {% endif %}
        </div>

        <!-- Миниатюры -->
        {% if product.images|length > 1 %}
          <div class="thumbnails-container">
            <div class="thumbnails">
              {% for image in product.images %}
                <img class="thumbnail" src="{{ url_for('static', path='uploads/' + image) }}" alt="Thumbnail {{ loop.index }}"
                onclick="changeImage('{{ url_for('static', path='uploads/' + image) }}')">
              {% endfor %}
              <script src="{{ url_for('static', path='js/change_image.js') }}"></script>
            </div>
          </div>
        {% endif %}

        <!-- Таблица характеристик -->
        <div class="product-content__chars">
          {% if product.characteristics %}
            <h3 class="characteristics-title">Характеристики</h3>
            <hr>
            <table class="product-content__chars-table">
              {% for characteristic in product.characteristics %}
                <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                  <td>{{ characteristic.name }}</td>
                  <td>{{ characteristic.value }}</td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Описание продукта -->
    <div class="product-content__detail">
      {% if product.description %}
        <p class="product-content__text">{{ product.description }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock detail %}
